@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

header {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
header img {
  display: block;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header ul li {
  padding-left: 2em;
}
header ul li a {
  text-decoration: none;
  color: black;
}
header ul li a:hover {
  color: #0c7cec;
}

.footer-top {
  background-color: #0c7cec;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}
.footer-top div {
  width: 200px;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.footer-top div img {
  width: 40%;
}
.footer-top div p {
  font-size: 0.8em;
  padding-left: 1em;
}

footer .background {
  height: 400px;
  background-image: url(../img/footer-bg.jpg);
}
footer .background .container {
  width: 90%;
  margin: auto;
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
}
footer .background .container .containerList {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
footer .background .container .containerList div {
  padding-right: 2em;
}
footer .background .container .containerList div h3 {
  padding-bottom: 0.5em;
  color: white;
}
footer .background .container .containerList div ul {
  list-style: none;
}
footer .background .container .containerList div ul a {
  text-decoration: none;
  color: lightgray;
}
footer .background .container .containerList div ul a:hover {
  color: #0c7cec;
}
footer .background .container img {
  width: 300px;
  height: 300px;
}

.footer-bottom {
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-around;
  padding: 2.5em 0;
}
.footer-bottom .button-footer button {
  background-color: #3f3f3f;
  color: white;
  border: 2px solid #0c7cec;
  padding: 1em 2em;
}
.footer-bottom .follow {
  display: flex;
  align-items: center;
}
.footer-bottom .follow h4 {
  color: #0c7cec;
  margin-right: 1em;
}

main .jumbo {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  height: 450px;
}
main .container-cards {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}
main .container-cards .card {
  width: 14.2857142857%;
  margin: 0 0.5em;
}
main .container-cards .card .box-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
main .container-cards .card .box-image img {
  width: 100%;
}
main .container-cards .card p {
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  padding-top: 1.5em;
}
main .button-box {
  background-color: black;
  padding: 1.5em 0 1em 0;
  width: 100%;
  text-align: center;
}
main .button-box button {
  background-color: #0c7cec;
  color: white;
  padding: 1em 5em;
}